.tools-item {
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  background-color: rgb(30, 30, 30);
  color: #fff;
  margin: 5px;
  padding-top: 4px;
  text-align: center;
}
