.canvas {
  position: fixed;
  left: 100px;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 30, 30);
  color: #fff;
}

.canvas_renderer {
  position: absolute;
  z-index: 0;
}
